body{
  background:  url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#cunt{
  position: absolute;
  left: 45%;
  top: 30%;
  text-align: center;
  font-size:100px !important;
  font-weight: 900;
  -webkit-text-stroke:2px #ffffff;
}

#containur{
  position: absolute;
  top: 50%;
  left: 50%;
}